body{
    background-color: #1C1C1C;
}

h1{
    text-align: center;
    color: whitesmoke;
    line-height: 100px;
    font-size: 100px; 
}
p{
    text-align: center;
   color: whitesmoke;
   font-size :50px;
}